<div class="footer">

  <div class="container">
  
    <div class="row">
    
      <div class="col-sm-9">
        <p><i class="fa fa-fw fa-github"></i> <a href="https://github.com/scvolabs">@scvolabs</a></p>
        <p><small>The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation, registration number SC003358.</small></p>
      </div>
      
      <div class="col-sm-3">
        <p class="text-right"><a href="http://www.scvo.org.uk"><img src="/images/scvo-inverse.png" class="logo" alt="SCVO" /></a></p>
      </div>
   
    </div>

  </div>

</div>
