---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
    
      <h1>{{ page.title }}</h1>
      
      {% if page.excerpt %}
        <p class="lead">{{ page.excerpt }}</p>
      {% endif %}
      
      <p><small>&mdash; by {% if page.authorlink %}<a href="{{ page.authorlink }}">{{ page.author }}</a>{% else %}{{ page.author }}{% endif %} on {{ page.date | date: "%d %B %Y" }}</small></p>
      
      {% include social-buttons.html %}
      
    </div>
  </div>
</div>

<div class="stripe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      
        {% if page.image %}
          <img src="/images/{{ page.image }}" class="postimg" />
        {% endif %}      

        {{ content }}
        
        {% include disqus.html %}

      </div>
    </div>
  </div>
</div>